
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

body{
  color: #333;
  font-family:  'Roboto','Noto Sans JP',sans-serif;
}

a{
  text-decoration: none;
}

/* 以下sp版 start */
.dot_sevice{
  visibility: visible;
}

.frameConsulSec{
  text-align: center;
  padding:70px 0;
}

.frameConsulSec h2{
  font-size: 30px;
}

.frameConsulSec p{
  font-size: 15px;
  letter-spacing: 1px;
}

.frameConsulSecTitle{
  padding-bottom: 18px;
}

.junKeyVisualImg{
  background-image: url(../image/consulvisu.jpg);
  background-size:cover;
  background-position-x: 40%;
  background-repeat: no-repeat;
}

/* ***************************** */
/* Section：課題*/
/* ***************************** */
.ProblemList{
  margin: 0 auto;
  /* responsive */
  /* display: flex; */
  justify-content: flex-end;
}

.problemItem{
  background-color: #f7ad00;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.ProblemItemblock{
  display: block;
  margin: 0 auto;
}

.problemItem img{
  width: 70px;
  display: block;
  margin: 0 auto;
}

.ProblemBox{
 margin-bottom: 60px; 
}

.ProblemBox p{
  width: 100%;
  color: #333;
  margin-top: 21px;
  font-size: 15px;
  text-align: center;
  line-height: 18px;
}


/* ***************************** */
/* Section：私達にできること */
/* ***************************** */
.SecConsulHowSupport{
  background-color: #f5f5f5;
  padding-bottom: 100px;
}

.secDescription{
  width: 80%;
  margin: 0 auto;
  font-size:15px;
  text-align: center;
  line-height:1.5em;
  padding-bottom: 100px;
}

.consulContent{
  width:90%;
  height: 260px;
  margin: 0 auto;
  margin-bottom: 80px;
  background-color: #fff;
  border-radius: 20px;
  /* display: flex; */
  box-shadow: 15px 15px 0 0 #f7ad00;
}

.content1{
  background-image: url(../image/BusinessConsulting.jpg);
  background-repeat: no-repeat;
  background-position: bottom 10px right 10px;
}

.content2{
  background-image: url(../image/DataScienceSolution.jpg);
  background-repeat: no-repeat;
  background-position: bottom 10px right 10px;
}

.content3{
  background-image: url(../image/Education&Training.jpg);
  background-repeat: no-repeat;
  background-position: bottom 10px right 10px;
}


.contentLeft{
  padding-top: 24px;
  padding-bottom: 12px;
  margin-right: 54px;
  margin: auto 0;
}

.contentLeft p{
  font-family:  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  width: 100px;
  text-align: right;
  font-size: 30px;
  color: #f7ad00;
  font-weight:bold;
  border-bottom-style: solid;
  border-width:1px ;
  border-color: #f7ad00;
}

.contentLeft h3{
  padding-top: 25px;
  font-size: 21px;
  margin-left: 21px ;
}

.contentRight{
  margin: auto 0;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.contentRight p{
  font-size: 12px;
  line-height: 1.5em;
}


/* 以下PC版 */
@media (min-width: 600px){
  
  .dot_service{
    visibility: visible;
  }
  
  .frameConsulSec{
    text-align: center;
    padding:100px 0;
  }
  
  .frameConsulSec h2{
    font-size: 42px;
  }
  
  .frameConsulSec p{
    font-size: 20px;
    letter-spacing: 2px;
  }
  
  .frameConsulSecTitle{
    padding-bottom: 24px;
  }
  
  .junKeyVisualImg{
    background-image: url(../image/consulvisu.jpg);
    background-size:cover;
    background-repeat: no-repeat;
  }
  
  /* Section：課題*/
  /* ***************************** */
  
  
  .ProblemList{
    width: 60%;
    margin: 0 auto 135px;
    display: flex;
    justify-content: space-between;
  
  }
  
  .problemItem{
    background-color: #f7ad00;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ProblemItemblock{
    display: block;
    margin: 0 auto;
  }
  
  .problemItem img{
    display: block;
    margin: 0 auto;
  }
  
  .ProblemBox p{
    color: #333;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    /* font-family: 'Noto Sans JP', sans-serif; */
  }
  
  
  /* Section：私達にできること */
  /* ***************************** */
  .SecConsulHowSupport{
    background-color: #f5f5f5;
    padding-bottom: 100px;
  }
  
  .secDescription{
    font-size:18px;
    text-align: center;
    line-height:1.5em;
    padding-bottom: 100px;
  }
  
  .consulContent{
    width:1000px;
    height: 260px;
    /* padding:54px 0 32px; */
    margin: 0 auto;
    margin-bottom: 80px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: 15px 15px 0 0 #f7ad00;
  }
  
  .content1{
    background-image: url(../image/BusinessConsulting.jpg);
    background-repeat: no-repeat;
    background-position: bottom 10px right 10px;
  }
  
  .content2{
    background-image: url(../image/DataScienceSolution.jpg);
    background-repeat: no-repeat;
    background-position: bottom 10px right 10px;
  }
  
  .content3{
    background-image: url(../image/Education&Training.jpg);
    background-repeat: no-repeat;
    background-position: bottom 10px right 10px;
  }
  
  
  .contentLeft{
    width:30%;
    padding-top: 0px;
    padding-bottom: 0px;  
    margin-right: 54px;
    margin: auto 0;
  }
  
  .contentLeft p{
    font-family:  "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    width: 100px;
    text-align: right;
    font-size: 30px;
    color: #f7ad00;
    font-weight:bold;
    border-bottom-style: solid;
    border-width:1px ;
    border-color: #f7ad00;
  }
  
  .contentLeft h3{
    padding-top: 25px;
    font-size: 30px;
    margin-left: 40px ;
  }
  
  .contentRight{
    margin: auto 0;
    width: 60%;
    /* background-color: palegoldenrod; */
  }
  
  .contentRight p{
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.5em;
  }
}